{% extends 'layout/base.html' %}


{% block content %}
    <h1>This is product ppage</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt totam quisquam id, ad dolorem praesentium officia optio ipsa voluptates molestiae consequatur aspernatur adipisci nesciunt minus natus sunt deleniti sint quos corporis excepturi? Quisquam distinctio ipsa saepe possimus nesciunt a! Eaque iste consequatur modi molestias quasi sequi? Dignissimos porro eos aliquam.</p>
{% endblock content %}
    